<%layout('./partials/layout')%>
<body class="bg-white text-center">
    <div class="form-signin"  id="vue-form2">
        <h1 class="brand">motor</h1>
        <input type="text" placeholder="Username" name="usr" class="form-control"  v-model="username" required autofocus>
        <input type="password" placeholder="Password" name="pwd" class="form-control" v-model="password" required autofocus>
        <input type="text" placeholder="Email" name="email" class="form-control"  v-model="email" required autofocus>
        <button class="btn btn-lg btn-block btn-black" @click="submitsignup">Sign up</button>
        <p class="mt-2">
            <a href="/resetPassword" class="btn btn-link">Reset Password</a> 
        </p>
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </div>
    <script src="/js/components/signupControl.js"></script>