<%layout('./partials/threadLayout')%>
<div id="vue-article">
    <div id="vue-content">
            <!-- Cover -->
            <div class="jumbotron bg-menu m-md-3" style="padding: 5rem 3rem 1rem;">
                <h1 class="display-4">Title: {{info.title}}</h1>
                <p class="lead">Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>

            <!-- Content -->
            <div class="container-fluid" style="padding: 3rem 3.5rem 1rem;">
                <p v-html="info.content"></p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                        <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="emailModalLabel" style="color: #000;">Enter your email</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                        <input class="form-control" type="text"  v-model="email" name="Email" v-on:keyup.13="forwardingthread" placeholder="Press enter to send">
                                </div>
                        </div>
                </div>
            </div>
        <!-- Report -->
        <div id="report" v-on:click="reportreason" class="control text-center pb-3">
                <button class="btn">Report this post</button>
        </div>
        <div v-if="seen" id='reason' class="text-center pb-3">
            <input type="checkbox" id="nudity" value="Nudity" v-model="reason">
            <label for="nudity">Nudity</label>
            <input type="checkbox" id="violence" value="Violence" v-model="reason">
            <label for="violence">Violence</label>
            <input type="checkbox" id="harassment" value="Harassment" v-model="reason">
            <label for="Harassment">Harassment</label>
            <input type="checkbox" id="suicide" value="Suicide or Self-Injury" v-model="reason">
            <label for="suicide">Suicide or Self-Injury</label>
            <input type="checkbox" id="fake" value="False News" v-model="reason">
            <label for="fake">False News</label>
            <br>
            <input type="checkbox" id="spam" value="Spam" v-model="reason">
            <label for="spam">Spam</label>
            <input type="checkbox" id="unsales" value="Unauthorized Sales" v-model="reason">
            <label for="unsales">Unauthorized Sales</label>
            <input type="checkbox" id="speech" value="Hate Speech" v-model="reason">
            <label for="speech">Hate Speech</label>
            <input type="checkbox" id="terrorism" value="Terrorism" v-model="reason">
            <label for="terrorism">Terrorism</label>
            <br>
            <span>Report reason: {{ reason }}</span>
            <button class="btn" @click="createReport">Submit</button>
        </div>
    </div>

    <!-- Share -->
    <div class="text-center pb-3">
        Share the post by
        <!-- Button trigger modal -->
        <button type="button" class="btn" data-toggle="modal" data-target="#emailModal" style="margin-left: 1em">
        <i class="far fa-envelope"></i>
        </button>
    </div>

    <!-- Comment section -->
    <div class="card bg-menu thread" id="vue-comment">
        <h4>Comment section</h4>
        <div class="input-group mb-4">
            <textarea class="form-control" aria-label="With textarea" v-model="commentBox"
            v-on:keyup.13="addComment"></textarea>
            <div class="input-group-append">
                    <button class="input-group-text" v-on:click="addComment" >Comment</button>
            </div>
        </div>
        <button type="button" name="button" v-on:click="toggleReply">hee</button>

        <!-- demo -->
        <div class="media mb-4" v-for="comment in comments">
            <img class="d-flex mr-3 rounded-circle far fa-user-circle" src="/img/user-circle.svg">
            <div class="media-body comment">
                <h5 class="mt-0">{{comment.user}}</h5>
                <p>{{comment.content}}</p>
                <p class="widget">
                    100 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                    <input type="text" name="reply" v-model="replyBox">
                    <button type="button" v-on:click="addReply(comment.cmtID)">Reply</button>
                </p>
                <br>
                <div class="media mt-4" v-for="subcomment in comment.reply">
                    <img class="d-flex mr-3 rounded-circle" src="/img/user-circle.svg"/>
                    <div class="media-body comment">
                        <h5 class="mt-0">{{subcomment.username}}</h5>
                        <p>{{subcomment.content}}</p>
                        <p class="widget">
                            1 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle far fa-user-circle" src="/img/user-circle.svg">
            <div class="media-body comment">
                <h5 class="mt-0">TuanLD</h5>
                <p>This is awesome!!!!!</p>
                <p class="widget">
                    100 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                        <a href="#">Reply</a>
                </p>
            </div>
        </div>

        <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="/img/user-circle.svg"/>
            <div class="media-body comment">
                <h5 class="mt-0">DangMTH</h5>

                <p>Of course, man.</p>
                <p class="widget">
                        -100 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                            <a href="#">Reply</a>
                </p>
                <br>
                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="/img/user-circle.svg"/>
                    <div class="media-body comment">
                        <h5 class="mt-0">NhuanND</h5>
                        <p>You don't say.</p>
                        <p class="widget">
                            1 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                            <a href="#">Reply</a>
                        </p>
                    </div>
                </div>
                <div class="media mt-4">
                    <img class="d-flex mr-3 rounded-circle" src="/img/user-circle.svg"/>
                    <div class="media-body comment">
                        <h5 class="mt-0">Hung</h5>
                        <p>Ok</p>
                        <p class="widget">
                            0 <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                            <a href="#">Reply</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle far fa-user-circle" src="/img/user-circle.svg">
                <div class="media-body comment">
                    <h5 class="mt-0">ThinhP</h5>
                    <p>Oh</p>
                    <p class="widget">
                        <i class="fas fa-angle-up"></i> <i class="fas fa-angle-down"></i>
                            <a href="#">Reply</a>
                    </p>
                </div>
            </div>
    </div>
</div>
<script src="/js/components/articleControl.js" type="module"></script>
