<%layout('./partials/layout')%>
<body class="bg-white">
<div>
    <header>
        <%include ./navbar %>
    </header>
    <main>
        <%- body%>
    </main>
    <%include ./footer %>
    <script>
        var navbar = document.getElementsByClassName('navbar');
        navbar[0].classList.add("fixed-top");
    </script>
</div>

