<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="/css/lib/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/lib/fontawesome-all.css">
    <!-- My StyleSheet -->
    <link rel="stylesheet" href="/css/myStyle.css">
    <!-- My script -->
    <!-- development version, includes helpful console warnings -->
    <script src="/js/lib/vue.js"></script>
    <script src="/js/lib/vue-resource.js"></script>
    <script src="/js/lib/jquery-3.3.1.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <!-- Title -->
    <title><%=title%></title>
</head>
    <%-body%>
    <script src="/js/myScript.js"></script>
</body>
</html>