<%layout('./partials/layout')%>
<body class="bg-menu" style="overflow-x: hidden">
    <header><%include /navbar%></header>
    <main>
        <%- body %>
    </main>
    <footer class="mt-auto"><p class="mt-5 mb-3 text-muted text-center">© Team 1 VGU 2018</p></footer>    
