<%layout('./partials/layout')%>
<body class="bg-menu" style="overflow-x: hidden">
    <%include /navbar%>
    <main>
        <%- body %>
    </main>
    <footer><p class="mt-5 mb-3 text-muted text-center">© Team 1 VGU 2018</p></footer>    
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>