<%layout('./partials/threadLayout')%>
<div class="cover mx-auto text-center">
    <h1 class="cover-heading">About</h1>
    <p class="lead">
        Little things about us
    </p>
</div>
<div class="mx-auto container"> 
    <div class="row text-center">
        <div class="col-lg-6">
            <div class="mx-auto" style="background-color: rgba(0,0,0,.2); border-radius:50%; width:80px; height:80px;"></div>
            <h2>Lu Dinh Tuan</h2>
            <p>Computer Science Student, VGU CS2015</p>        
        </div>
        <div class="col-lg-6">
            <div class="mx-auto" style="background-color: rgba(0,0,0,.2); border-radius:50%; width:80px; height:80px;"></div>
            <h2>Mai Tran Hai Dang</h2>
            <p>Computer Science Student, VGU CS2015</p>        
        </div>
    </div>
</div>

<div class="mx-auto container">
    <div class="row text-center">
        <div class="col-lg-4">
            <div class="mx-auto" style="background-color: rgba(0,0,0,.2); border-radius:50%; width:80px; height:80px;"></div>
            <h2>Phan Gia Thinh</h2>
            <p>Computer Science Student, VGU CS2015</p>        
        </div>
        <div class="col-lg-4">
            <div class="mx-auto" style="background-color: rgba(0,0,0,.2); border-radius:50%; width:80px; height:80px;"></div>
            <h2>Nguyen Duc Nhuan</h2>
            <p>Computer Science Student, VGU CS2015</p>        
        </div>
        <div class="col-lg-4">
            <div class="mx-auto" style="background-color: rgba(0,0,0,.2); border-radius:50%; width:80px; height:80px;"></div>
            <h2>Le Quoc Hung</h2>
            <p>Computer Science Student, VGU CS2015</p>        
        </div>
    </div>
</div>
