<%layout('./partials/homeLayout')%>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4">Biker paradise</h1>
        <p class="lead">Explore the lastest news about motorbike</p>
        <a class="btn btn-outline-secondary" href="/forum">Getting started</a>
    </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden col">
        <div class="my-3 py-3">
            <h2 class="display-5">Compare</h2>
            <p class="lead">with details.</p>
        </div>
        <div class="bg-light mx-auto" style="height: 300px; width: 80%; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden col">
        <div class="my-3 py-3">
            <h2 class="display-5">Motorbikes</h2>
            <p class="lead">which you are confused with.</p>
           
        </div>
        <div class="bg-dark mx-auto" style="height: 300px; width: 80%; border-radius: 21px 21px 0 0;"></div>
    </div>
</div>

<script>
    var navbar = document.getElementsByClassName('navbar');
    navbar[0].classList.add('fixed-top');
</script>