<%layout('./partials/layout')%>
<body class="bg-menu">
<div class="cover-container text-center d-flex h-100 p-3 mx-auto flex-column mb-3">
    <header class="mb-auto">
        <nav class="navbar navbar-expand-lg">
            <h3 class="navbar-brand brand">motor</h3>
            <div class="navbar-collapse">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
                        <li class="nav-item"><a class= "nav-link" href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="cover mx-auto" role="main">
        <h1 class="cover-heading">Welcome to <span>motor</span></h1>
        <p class="lead">
                Motor is a technical forum for motorbike lover and enthusisast. Contribute, find the solution for your problems, and help those in need. Disclaimer: This website is not actually a technical forum so if you have a real problem search Google instead.
        </p>
        <p class="lead">
            <a class="btn btn-lg btn-white" href="/signin">Let's go</a>
            <a class="btn btn-lg btn-white" href="/signup">New ?</a>
        </p>
    </main>
    <footer class="mt-auto">
        <p>Created by <a href="#">Team 1</a> from <a href="https://vgu.edu.vn/">VGU</a>.</p>
    </footer>
</div>
