<%layout('./partials/threadLayout')%>
<div class="profile mx-auto container">
  <div class="row">
    <div class="col-md-3">
      <div class="prof-img">
        <img src="/img/user-circle.svg">
        <div class="img-title">
            <a role="button" id="changeImg" class="btn btn-white">Change Avatar</a>
          </div>
      </div>
    </div>      
    <div class="col-md-9">
      <div class="prof-info">
        <h2>Your Information</h2>
        <div class="info">
          <label>Name:</label> {{usr.username}}
        </div>
        <div class="info">
          <label>Email:</label> {{usr.email}}
        </div>
        <div class="info">
          <label>Role:</label> {{usr.userType}}
        </div>
      </div>
    </div>
  </div>
  <!-- Your post -->
  <div class="container-fluid" style="padding: 5rem 3rem 1rem;" id='vue-profile'>
    <h2>Your post</h2>
    <table class="table table-hover table-bottom-border">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Last Post</th>
                <th scope="col">Modified</th>
                <th scope="col">Deleted</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="row in posts">
                <td><a v-bind:href="'/forum/thread?id='+row.id">{{row.forumName}}</a></td>
                <td>{{row.lastPost}}</td>
                <td><a href="#" class="btn btn-white">Modified</a></td>
                <td><a href="#" class="btn btn-white"></a></td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<script src="/js/components/profileControl.js"></script>