<%layout('./partials/threadLayout')%>
<div class="profile mx-auto container">
  <div class="row">
    <div class="col-md-3">
      <div class="prof-img">
        <img src="/img/user-circle.svg">
        <div class="img-title">
            <a role="button" id="changeImg" class="btn btn-white">Change Avatar</a>
          </div>
      </div>
    </div>      
    <div class="col-md-9">
      <div class="prof-info">
        <h2>Your Information</h2>
        <div class="info">
          <label>Name:</label> {{userName}}
        </div>
        <div class="info">
          <label>Email:</label> {{userName}}
        </div>
        <div class="info">
          <label>Role:</label> {{userName}}
        </div>
      </div>
    </div>
  </div>
</div>