<%layout('./partials/layout')%>
<body class="bg-menu">
    <div id="vue-form" class="row">
        <div class="col-lg-7 basic-spacing">
                <h1 class="brand"><a href="/forum">motor</a></h1>
                <div class="form-row">
                    <div class="col-md-8">
                            <label for="transportType">Type:</label>
                        <select name="transportType" id="transportType" class="form-control" v-model="addType">
                            <option v-for="type in type" v-bind:value="type">{{type}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                            <label for="transportManufacture">Manufacture:</label>
                        <select name="transportManufacture" id="transportManufacture" class="form-control" v-model="addManufacture">
                            <option v-for="manufacture in manufacture" v-bind:value="manufacture">{{manufacture}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                            <label for="transportModel">Model:</label>
                        <select name="transportModel" id="transportModel" class="form-control" v-model="addModel">
                            <option v-for="model in model" v-bind:value="model">{{model}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                            <label for="transportYear">Manufacture year:</label>
                        <select name="transportYear" id="transportYear" class="form-control" v-model="addYear">
                            <option v-for="year in year" v-bind:value="year">{{year}}</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label for="transportYear">Problem area:</label>
                    <select name="transportYear" id="transportYear" class="form-control" v-model="addPart">
                        <option v-for="part in partarea" v-bind:value="part">{{part}}</option>
                    </select>
                </div>
                    <div class="col-md-8">
                            <label for="">Problem related: </label>
                            <input class="form-control" type="text"  name="Problem" v-model="search" v-on:keyup.13="searchPost">
                    </div>
                </div>
        </div>
        <div class="col-lg-5 basic-spacing" style="padding-top: 6.5em;">
            <h2>Results</h2>
            <div v-for="post in filteredTable">
                <a v-bind:href="'/forum/article?id='+post._id" target="_blank">{{post.title}}</a>
            </div>
        </div>
    </div>
    <p class="mt-3 mb-3 text-muted text-center">© Team 1 VGU 2018</p>
    <script src="/js/components/searchControl.js"></script>
