<%layout('./partials/layout')%>
<script type="text/javascript" language="JavaScript">
    function checkPassWord(theForm){
        if(theForm.newPass.value!=theForm.confirmPass.value)
            {alert('The confirm password is not match with password');
             return false;}
        else{return true;}
    }
    </script>
<body class="bg-menu text-center">
    <form action="/auth/setpass" class="form-signin" method="POST"onsubmit="return checkPassWord(this)">
        <h1 class="brand">motor</h1>
        <input type="password" placeholder="New Password" name="newPass" class="form-control" required autofocus>
        <input type="password" placeholder="Confirm New Password" name="confirmPass" class="form-control" required autofocus>
        <button class="btn btn-lg btn-block btn-white">Reset Password</button>
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </form>
