<%layout('./partials/layout')%>
<body class="bg-menu text-center">
    <form action="/auth/signin" class="form-signin" method="POST">
        <h1 class="brand">motor</h1>
        <input type="text" placeholder="Username" name="usr" class="form-control" required autofocus>
        <label class="sr-only" for="pwd">Password</label>
        <input type="password" placeholder="Password" name="pwd" class="form-control" required autofocus>
        <button class="btn btn-lg btn-block btn-white">Sign in</button>
        <p class="mt-2">
            <a href="/auth/signin/facebook" class="btn btn-lg btn-white" style="width: 45%;"><i class="fab fa-facebook-f"></i></a> 
            <a href="http://google.com" class="btn btn-lg btn-white" style="width: 45%;"><i class="fab fa-google"></i></a>
            <a href="/resetPassword" class="btn btn-link">Forgot Password</a> 
        </p>
        <p>Not register yet? <a href="/signup">click me!</a></p>
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </form>
