<%layout('./partials/layout')%>
<body class="bg-white text-center">
    <form action="/auth/signup" class="form-signin" method="POST">
        <h1 class="brand">motor</h1>
        <input type="text" placeholder="Username" name="usr" class="form-control" required autofocus>
        <input type="password" placeholder="Password" name="pwd" class="form-control" required autofocus>
        <input type="text" placeholder="Email" name="email" class="form-control" required autofocus>
        <button class="btn btn-lg btn-block btn-black">Sign up</button>
        
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </form>