<%layout('./partials/layout')%>
<body class="bg-menu text-center">
    <form class="form-signin">
        <h1 class="brand">motor</h1>
        <input type="text" placeholder="Username" id="usr" class="form-control" required autofocus>
        <label class="sr-only" for="pwd">Password</label>
        <input type="text" placeholder="Password" id="pwd" class="form-control" required autofocus>
        <a href="/home" class="btn btn-lg btn-block btn-white">Sign in</a>
        <p>Not register yet? <a href="/signup">click me!</a></p>
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </form>