<%layout('./partials/layout')%>
<body class="bg-white text-center">
    <form class="form-signin">
        <h1 class="brand">motor</h1>
        <input type="text" placeholder="Username" id="usr" class="form-control" required autofocus>
        <input type="text" placeholder="Password" id="pwd" class="form-control" required autofocus>
        <input type="text" placeholder="Email" id="email" class="form-control" required autofocus>
        <a href="/home" class="btn btn-lg btn-block btn-black">Sign up</a>
        
        <p class="mt-5 mb-3 text-muted">© Team 1 VGU 2018</p>
    </form>