<%layout('./partials/threadLayout')%>
<div class="jumbotron bg-menu m-md-3" style="padding: 5rem 3rem 1rem;">
    <h1 class="display-4">Technical Support</h1>
    <p class="lead">Have problems with your motorbike? Ask us any thing.</p>
</div>
<div class="row overflow-hidden" style="padding: 0 3rem;">
    <div class="col col-8">
        <input type="text" name="" id="" placeholder="Enter your problems" class="form-control">
    </div>
    <div class="col col-4">
        <a class="btn btn-block btn-white">Advance filter</a>   
    </div>
</div>

<div class="container-fluid" style="padding: 3rem 3rem 1rem;">
    <table class="table table-hover table-bottom-border">
        <thead>

            <tr>
                <th scope="col">Title</th>
                <th scope="col">Started date</th>
                <th scope="col">Views</th>
                <th scope="col">Last post</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="/forum/thread">Your search result here</a></td>
                <td>????</td>
                <td>10</td>
                <td>1000</td>
            </tr> 
        </tbody>
    </table>
</div>