@font-face {
  font-family: "Ubuntu";
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
}

body, html {
  font-family: 'Ubuntu';
  height: 100%;
}

.bg-menu {
  color: #fff;
  background-color: #2b384e;
}

.bg-menu .brand {
  color: #fff;
}

.bg-menu a {
  color: #fff;
}

.bg-menu a:hover {
  color: #f25656;
  text-decoration: none;
}

.bg-menu footer a {
  color: rgba(255, 255, 255, 0.2);
}

.bg-menu .navbar .dropdown-menu {
  background: #2b384e;
}

.bg-white {
  color: #2b384e;
}

.bg-white .brand {
  color: #2b384e;
}

.bg-white a {
  color: #2b384e;
}

.bg-white .navbar-default {
  background-color: rgba(43, 56, 78, 0.85);
}

.bg-white .navbar {
  color: #fff;
}

.bg-white .navbar a {
  color: #fff;
}

.bg-white .navbar a:hover {
  color: #f25656;
  text-decoration: none;
}

.bg-white .navbar .dropdown-menu {
  margin: 0.75rem 0 0;
  background: rgba(43, 56, 78, 0.85);
}

.cover-container {
  max-width: 42em;
}

.cover-container .cover {
  color: #fff;
  padding: 0 1.5rem;
}

.cover-container .cover .cover-headding {
  display: block;
}

.cover-container .navbar {
  color: #fff;
}

.cover-container .navbar a {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.cover-container .navbar a:hover {
  color: #f25656;
  border-bottom-color: #f25656;
}

.cover-container .navbar-expand-lg .navbar-nav .nav-link {
  padding: 2px 0;
  margin-left: 10px;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
}

.btn-white {
  color: #fff;
  background: transparent;
  border: 2px solid #fff;
}

.btn-white:hover {
  border-color: #f25656;
  color: #f25656;
}

.btn-black {
  background: transparent;
  border: 2px solid #2b384e;
}

.btn-black:hover {
  border-color: #f25656;
  color: #f25656;
}

.form-signin {
  width: 100%;
  height: 80%;
  max-width: 330px;
  padding: 8% 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  margin-bottom: 1em;
}

.form-signin a {
  margin-bottom: 5px;
}

.form-post {
  width: 100%;
  max-width: 600px;
  padding: 3rem 0.5px;
  margin: 0 auto;
  color: #000;
}

.form-post .form-control {
  margin-bottom: 1em;
}

.form-post a {
  margin-bottom: 5px;
  color: #000;
}

.form-post h1, .form-post h4, .form-post label, .form-post button {
  color: #fff;
}

.table-bottom-border th {
  border-bottom: 2px solid #fff;
}

.table-bottom-border th, .table-bottom-border td {
  border-top: none;
}

.media img {
  width: 50px;
  height: auto;
  color: #fff;
}

.thread {
  padding: 2rem 3rem;
}

.widget {
  display: none;
  float: right;
}

.profile .prof-img {
  width: 100%;
  height: 300px;
  position: relative;
}

.profile .prof-img img {
  width: 100%;
  height: 100%;
  padding: 3px;
}

.profile .prof-img .img-title {
  bottom: 0;
  text-align: center;
  width: 100%;
  padding: 5px;
}

.profile .prof-info {
  padding-top: 3rem;
}

.profile .prof-info .info {
  padding: 10px;
  font-size: 14px;
}

.profile .prof-info .info i {
  padding: 8px 9px 0 9px;
}

.nicEdit-pane {
  color: #000;
}

.hidden {
  display: none !important;
  visibility: hidden;
}
/*# sourceMappingURL=myStyle.css.map */