@font-face {
    font-family: "Ubuntu";
    src: url('/fonts/Ubuntu-Regular.ttf') format('truetype');
}
$colors: (
    primary: #f25656,
    dashboard: #2b384e,
    navbar: rgba(43,56,78,0.85)
);

$desktop: 812px;
$radius: 2px;

@function color($color-name){
    @return map-get($colors,$color-name);
}

@mixin desktop {
    @media (min-width: #{$desktop}){
        @content;
    }
}

body,html{
    font-family: 'Ubuntu';
    height: 100%;
}

.bg-menu {
    color: #fff;
    background-color: color(dashboard);

    .brand{
        color: #fff;
    }

    a{
        color: #fff;
        &:hover {
            color: color(primary);
            text-decoration: none;
        }
    }
    footer a {
        color: rgba(255,255,255,.2);
    }
    .navbar{
        .dropdown-menu{
            background: color(dashboard); 
        }   
    }
}

.bg-white {
    color: color(dashboard);

    .brand{
        color: color(dashboard);
    }

    a{
        color: color(dashboard);
    }

    .navbar-default {
        background-color: color(navbar);
    }

    .navbar {
        color: #fff;

        a{
            color: #fff;
            &:hover{
                color: color(primary);
                text-decoration: none;
            }
        }

        .dropdown-menu{
            margin: 0.75rem 0 0;
            background: color(navbar); 
        }
    }
}


.cover-container {
    max-width: 42em;

    .cover {
        color: #fff;
        padding: 0 1.5rem;
        .cover-headding {
            display: block;
        }
    }

    .navbar {
        color: #fff;
        a {
            color: #fff;
            border-bottom: 2px solid #fff; 
            
            &:hover {
                color: color(primary);
                border-bottom-color: color(primary);
            }
        }
    }

    .navbar-expand-lg .navbar-nav .nav-link{
        padding: 2px 0; margin-left: 10px; 
    }
}

.flex-column{
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
}

.btn-white{
    color: #fff;
    background: transparent;
    border: 2px solid #fff;

    &:hover {
        border-color: color(primary);
        color: color(primary); 
    }
}

.btn-black {
    background: transparent;
    border: 2px solid color(dashboard);

    &:hover {
        border-color: color(primary);
        color: color(primary); 
    }
}

.form-signin {
    width: 100%;
    height: 80%;
    max-width: 330px;
    padding: 8% 15px;
    margin: 0 auto;

    .form-control {
        margin-bottom: 1em;
    }
    
    a{
        margin-bottom: 5px;
    }
}

.form-post {
    width: 100%;
    max-width: 600px;
    padding: 3rem 0.5px;
    margin: 0 auto;
    color: #000;
    .form-control {
        margin-bottom: 1em;
    }
    
    a{
        margin-bottom: 5px;
        color: #000;
    }

    h1, h4, label, button{
        color: #fff;
    }

}

.table-bottom-border {
    th {
        border-bottom: 2px solid #fff; 
    }
    th, td {
        border-top:none;
    }
}

.media {
    img{
        width: 50px;
        height: auto;
        color: #fff;
    }
}

.thread {
    padding: 2rem 3rem;
}

.widget {
    display: none;
    float: right;
}

.profile {
    .prof-img{
        width: 100%; height: 300px;
        position: relative;
        
        img{
            width: 100%; height: 100%;
            padding: 3px;
        }

        .img-title{
            bottom: 0;
            text-align: center;
            width: 100%;
            padding: 5px;
        }
    }
    .prof-info{
        padding-top: 3rem;
        .info{
            padding: 10px; font-size: 14px; 
            i{
                padding: 8px 9px 0 9px;
            }
        }
    }
}

.nicEdit-pane{
    color: #000;
}

.hidden{
    display: none !important;
    visibility: hidden;
}